<div class="items-container">
  <h1>Gestión de Productos</h1>
  <div class="filter-container">
    <label for="categoriaFiltro" class="filter-label"
      >Filtrar por Categoría:</label
    >
    <select
      id="categoriaFiltro"
      class="filter-select form-control"
      (change)="filterByCategoria($event)"
    >
      <option value="">Todas las Categorías</option>
      @for (categoria of categorias; track $index) {
      <option [value]="categoria.id">
        {{ categoria.nombre }}
      </option>
      }
    </select>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Descripción</th>
        <th>Marca</th>
        <th>Precio</th>
        <th>Estado</th>
        <th>Stock</th>
        <th>Cantidad Vendida</th>
        <th>Categoria</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      @for (item of items; track $index) {
      <tr>
        <td>{{ item.nombre }}</td>
        <td>{{ item.descripcion }}</td>
        <td>{{ item.marca }}</td>
        <td>{{ item.precio | currency }}</td>
        <td>{{ item.estado }}</td>
        <td>{{ item.stock }}</td>
        <td>{{ item.cant_vendidos }}</td>
        <td>{{ item.categoria.nombre }}</td>
        <td class="btn-actions">
          <!-- Icono de Editar -->
          <button class="btn btn-edit" (click)="openModal('edit', item)">
            <i class="bi bi-pencil-fill"></i>
          </button>
          <!-- Icono de Eliminar -->
          <button class="btn btn-delete" (click)="deleteItem(item.id)">
            <i class="bi bi-trash-fill"></i>
          </button>
        </td>
      </tr>
      }
    </tbody>
  </table>
  <div class="btn-add-container">
    <button class="btn btn-add" (click)="openModal('add')">
      Agregar Producto
    </button>
  </div>
</div>

<!-- VENTANA MODAL -->
<div class="modal" [class.show]="isModalOpen" role="dialog" aria-modal="true">
  <div class="modal-content">
    <h2>
      {{ modalMode === "add" ? "Agregar Producto" : "Editar Producto" }}
    </h2>
    @if(errorMessage){
    <div class="alert alert-danger text-center">
      {{ errorMessage }}
    </div>
    }
    <form [formGroup]="formItem" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            formControlName="nombre"
            name="nombre"
            [ngClass]="{
              'is-invalid':
                hasErrors('nombre', 'required') ||
                hasErrors('nombre', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('nombre', 'required')) {
            <div class="text-danger">El nombre es obligatorio.</div>
            } @if (hasErrors('nombre', 'pattern')) {
            <div class="text-danger">El formato del nombre es inválido.</div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="marca">Marca</label>
          <input
            type="text"
            class="form-control"
            id="marca"
            formControlName="marca"
            name="marca"
            [ngClass]="{
              'is-invalid': hasErrors('marca', 'required')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('marca', 'required')) {
            <div class="text-danger">La marca es obligatoria.</div>
            }
          </div>
        </div>
        <div class="form-group full-width">
          <label for="descripcion">Descripción</label>
          <textarea
            class="form-control"
            id="descripcion"
            formControlName="descripcion"
            name="descripcion"
            [ngClass]="{
              'is-invalid':
                hasErrors('descripcion', 'required') ||
                hasErrors('descripcion', 'pattern')
            }"
          ></textarea>
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('descripcion', 'required')) {
            <div class="text-danger">La descripción es obligatoria.</div>
            } @if (hasErrors('descripcion', 'pattern')) {
            <div class="text-danger">
              El formato de la descripción es inválido.
            </div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="precio">Precio</label>
          <input
            type="text"
            class="form-control"
            id="precio"
            formControlName="precio"
            name="precio"
            [ngClass]="{
              'is-invalid':
                hasErrors('precio', 'required') ||
                hasErrors('precio', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('precio', 'required')) {
            <div class="text-danger">El precio es obligatorio.</div>
            } @if (hasErrors('precio', 'pattern')) {
            <div class="text-danger">El formato del precio es inválido.</div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="stock">Stock</label>
          <input
            type="text"
            class="form-control"
            id="stock"
            formControlName="stock"
            name="stock"
            [ngClass]="{
              'is-invalid':
                hasErrors('stock', 'required') || hasErrors('stock', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('stock', 'required')) {
            <div class="text-danger">El stock es obligatorio.</div>
            } @if (hasErrors('stock', 'pattern')) {
            <div class="text-danger">El formato del stock es inválido.</div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <select
            id="estado"
            class="form-control"
            formControlName="estado"
            name="estado"
            [ngClass]="{ 'is-invalid': hasErrors('estado', 'required') }"
          >
            <option value="" disabled selected>Seleccione un estado</option>
            <option value="Activo">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
          <div class="error-container">
            @if (hasErrors('estado', 'required')){
            <div class="text-danger">Seleccionar un estado es obligatorio.</div>
            }
          </div>
        </div>
        <div class="form-group">
          <label for="cant_vendidos">Cantidad Vendida</label>
          <input
            type="text"
            class="form-control"
            id="cant_vendidos"
            formControlName="cant_vendidos"
            name="cant_vendidos"
            [ngClass]="{
              'is-invalid':
                hasErrors('cant_vendidos', 'required') ||
                hasErrors('cant_vendidos', 'pattern')
            }"
          />
          <!-- Contenedor de mensajes de error -->
          <div class="error-container">
            @if (hasErrors('cant_vendidos', 'required')) {
            <div class="text-danger">La cantidad vendida es obligatoria.</div>
            } @if (hasErrors('cant_vendidos', 'pattern')) {
            <div class="text-danger">El formato es inválido.</div>
            }
          </div>
        </div>
        <div class="form-group full-width">
          <label for="categoria">Categoria</label>
          <select
            id="categoria"
            class="form-control"
            formControlName="categoria"
            name="categoria"
            [ngClass]="{ 'is-invalid': hasErrors('categoria', 'required') }"
          >
            <option value="" disabled selected>Seleccione una categoria</option>
            @for(categoria of categorias; track $index){
            <option [value]="categoria.id">{{ categoria.nombre }}</option>
            }
          </select>
          <div class="error-container">
            @if (hasErrors('categoria', 'required')){
            <div class="text-danger">
              Seleccionar una categoria es obligatorio.
            </div>
            }
          </div>
        </div>
        <div class="modal-actions">
          <button
            type="submit"
            class="btn btn-submit"
            [disabled]="!formItem.valid"
          >
            Guardar
          </button>
          <button type="button" class="btn btn-cancel" (click)="closeModal()">
            Cancelar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
