<div class="sidebar-container">
  <div class="sidebar-header">
    <h3>Opciones</h3>
  </div>
  <ul class="sidebar-menu">
    <li>
      <button class="sidebar-button" (click)="selectMenu('productos')">
        Productos
      </button>
    </li>
    <li>
      <button class="sidebar-button" (click)="selectMenu('categorias')">
        Categorías
      </button>
    </li>
    <!-- <li>
      <button class="sidebar-button" (click)="selectMenu('usuarios')">
        Usuarios
      </button>
    </li> -->
  </ul>
</div>
