<div class="sidebar-container">
  <div class="sidebar-header">
    <h3>Opciones</h3>
  </div>
  <ul class="sidebar-menu">
    <li>
      <button class="sidebar-button" (click)="listarProductos()">
        Listar Productos
      </button>
    </li>
    <li>
      <button class="sidebar-button" (click)="listarCategorias()">
        Listar Categorías
      </button>
    </li>
    <li>
      <button class="sidebar-button" (click)="listarUsuarios()">
        Listar Usuarios
      </button>
    </li>
  </ul>
</div>
