<header class="admin-header">
  <span class="header-title" (click)="navegateHome()">Laelsi</span>
  <div class="header-account">
    <button class="btn btn-outline-dark account-btn" data-bs-toggle="dropdown">
      <i class="bi bi-person-circle"></i> Mi cuenta
    </button>
    <ul class="dropdown-menu dropdown-menu-end">
      <li>
        <a class="dropdown-item" (click)="navegateViewProfile(1)">Ver Perfil</a>
      </li>
      <li>
        <a class="dropdown-item" (click)="navegateLogout()">Cerrar sesión</a>
      </li>
    </ul>
  </div>
</header>
